name: React Native Unit Tests

on:
  push:
  pull_request:
    branches:
      - main
      - dev
      - jest-ci-setup

jobs:
  unit-test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "18.18.2"
      - name: Install dependencies
        run: npm install
      - name: Run Unit Tests
        run: npm run test